.dialogs {
  font-size: 22px;
  color: darkblue;
  display: grid;
  grid-template-areas: "dialog message";
  grid-template-columns: 2fr 8fr;
  min-width: 50%;
}

.dialog {
  grid-area: 'dialog';
  background-color: rgb(230, 209, 209);
}

.dialogItem {

}

.ActivDialogItem {
  color: gold;
}

.Messages {
  grid-area: 'message';
  background-color: cyan;
}