.nav {
  padding-left: 9%;
  grid-area: nav;
  background-color: rgb(76, 235, 84);
  padding: 25px;
}

.item a{
  text-decoration: none;
  font-size: 20px;
}

.item a{
  color: rgb(0, 0, 0);
}
.item a.activeNavlink{
  color: gold;
}
