.App {
  display: grid;
  padding: 5%;

  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.nav {
  padding-left: 9%;
  grid-area: nav;
  background-color: rgb(12, 223, 238);
}

.header {
  grid-area: header;
  background-color: rgb(196, 242, 150);
  margin-bottom: 3px;
}
.header img {
  width: 58px;
  height: 58px;
}

.content {
  grid-area: content;
  background-color: rgb(228, 191, 209);
}
.content .image img {
  width: 100%;
  height: 400px;
}
.content .image1 img {
  width: 10%;
  height: 5%;
}

.Settings {
  padding-top: 15px;
}
